### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### Node.js ###
# Függőségek
node_modules/

# Környezeti változók
.env
.env.local

# Naplófájlok
*.log

# Build eredmények
dist/
build/

### Egyéb ###
# IDE-specifikus fájlok
.idea/
*.iml

# Operációs rendszer specifikus fájlok
.DS_Store
Thumbs.db